{% extends "base/layout.html" %}

{% load static %}

{% block header %}
  {% include "base/_header.html" %}
{% endblock %}

{% block body %}
<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">
    <div id="post-header">
      <h2>{{ post.title }}</h2>
      <h4>{{ post.date | date:"Y년 m월 d일" }} by namsan</h4>
      {% if request.user.is_authenticated %}
      <a href="{% url "edit_post" post.id %}" class="fa fa-pencil"></a>
      {% endif %}
      {% if post.main_image %}
      <img src="{% get_media_prefix %}{{ post.main_image }}" alt="" />
      {% endif %}
    </div>
    {% autoescape off %}
    <p> {{ post.content }}</p>
    {% endautoescape %}
  </div>
</section>
{% endblock %}
